@media (min-width: 576px) {
  .jumbotron.header {
    padding: 3rem 2rem;
  }
}

@media (max-width: 576px) {
  .new-notes {
    div {
      padding-bottom: 1rem;
    }
  }

  .btn-100 {
    display: block;
    width: 100%;
  }
}
